[Unit]
Description=Keta Supervisord Service

[Service]
Restart=on-failure
RestartSec=20s
User={{ supervisor_run_user }}
ExecStart=/home/{{ supervisor_run_user }}/.local/bin/supervisord -n -c /opt/ksupervisor/supervisor.conf

[Install]
WantedBy=multi-user.target
Alias=ksupervisord.service