[Unit]
Description=Keta Supervisord Service

[Service]
Restart=on-failure
RestartSec=20s
User={{ supervisor_run_user }}
ExecStart={{ supervisor_bin_path }}/supervisord -n -c {{ supervisor_conf_path }}

[Install]
WantedBy=multi-user.target
Alias=ksupervisord.service