- name: Check if the path for Python 2 exists
  stat:
    path: /usr/bin/python2
  register: python2_check

- name: Ensure that Python 2 is installed
  fail: msg="Python 2 is not installed"
  when: not python2_check.stat.exists

- name: Check if the path for Supervisor exists
  stat:
    path: "{{ supervisor_bin_path }}/supervisord"
  register: supervisor_check

- name: Unarchive for installing supervisor
  unarchive:
    src: "{{item}}.tar.gz"
    dest: /tmp
  loop: "{{ supervisor_install_dependencies }}"
  when: not supervisor_check.stat.exists

- name: Install supervisor
  shell:
    cd /tmp/{{item}} && /usr/bin/python2 setup.py install --user
  loop: "{{ supervisor_install_dependencies }}"
  when: not supervisor_check.stat.exists

- name: Ensure ksupervisor/conf.d exists
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ supervisor_run_user }}"
    group: "{{ supervisor_run_user }}"
    recurse: yes
  loop:
    - "/opt/ksupervisor"
    - "/opt/ksupervisor/conf.d"

- name: Copy Supervisor init file into place for supervisord
  become: yes
  template:
    src: supervisor.conf.j2
    dest: "{{ supervisor_conf_path }}"

- name: Copy Supervisor init file into place for systemd
  become: yes
  template:
    src: supervisord.service.j2
    dest: "/lib/systemd/system/ksupervisord.service"

- name: Ensure Supervisor is enabled at boot.
  become: yes
  systemd:
    name: ksupervisord
    enabled: yes

- name: Start supervisor
  become: yes
  systemd:
    name: ksupervisord
    state: started
