[program:{{ ketadb_supervisor_program }}]
autorestart=True
autostart=True
redirect_stderr=True
command={{ ketadb_root_path }}/keta/bin/keta
user={{ ketadb_run_user }}
directory={{ ketadb_root_path }}/keta
stdout_logfile_maxbytes={{ ketadb_supervisor_logfile_maxbytes }}
stdout_logfile_backups={{ ketadb_supervisor_logfile_backups }}
stdout_logfile={{ ketadb_supervisor_logfile }}