[mysqld]
basedir=/home/{{ketadb_user}}/mysql
datadir={{ketadb_mysql_data_dir}}
log-error=/home/{{ketadb_user}}/mysql/logs/error.log
pid-file=/home/{{ketadb_user}}/mysql/mysql.pid

socket=/home/{{ketadb_user}}/mysql/mysql.sock
port={{ketadb_mysql_port}}

default-time-zone='{{ketadb_mysql_timezone}}'
innodb_file_per_table=1
default-storage-engine=innodb
character_set_server=utf8mb4
collation-server=utf8mb4_unicode_ci

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4