[program:{{ mysql_supervisor_program }}]
autorestart=True
autostart=True
redirect_stderr=True
command={{ mysql_root_path }}/bin/mysqld --defaults-file={{ mysql_root_path }}/my.cnf
user={{ mysql_run_user }}
directory={{ mysql_root_path }}
stdout_logfile_maxbytes={{ mysql_supervisor_logfile_maxbytes }}
stdout_logfile_backups={{ mysql_supervisor_logfile_backups }}
stdout_logfile={{ mysql_supervisor_logfile }}